* {
  box-sizing: border-box;
  border: 1px solid black;
  margin: 0;
  padding: 0;
}
.hero-section {
  height: 80vh;
  background-image: url(/assets/wes-hicks-t5_UZDAW5Kw-unsplash.jpg);
  background-position: center;
  background-size: cover;
}
.education-section {
  height: 50vh;
}
.skill-card-container {
  display: flex;
  flex-wrap: wrap;
}
.skill-card-container .skill-card {
  width: 50%;
  display: flex;
  height: 30vh;
  flex-direction: column;
}
.projects-section {
  height: 120vh;
}
.projects-section .project-card {
  height: 33%;
}
.contact-section {
  height: 30vh;
}
